.footer {
  width: 100%;
  border-top: 0.125rem solid var(--primary);
  display: flex;
  justify-content: center;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1rem;
  width: 100%;
  max-width: 90rem;
  padding: 1rem 2rem;
}
