.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 90rem;
  padding: 1rem 2rem;

  @media (min-width: 768px) {
    padding: 1.5rem 10rem;
  }
}

.header-side_left {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.header-side_right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  list-style: none;
  gap: 1rem;
}
