.home-intro_section {
  width: 100%;
  display: flex;
  justify-content: center;
  height: calc(100vh - 8rem);
  background-color: var(--home);
}

.home-intro_section-wrapper {
  height: 100%;
  width: 100%;
  max-width: 90rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 2rem;

  @media (min-width: 768px) {
    padding: 1.5rem 10rem;
  }
}

.home-intro_section-logo {
  filter: drop-shadow(var(--shadow));
}

.home-intro_section-title {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: column;
  border-bottom: 0.125rem solid var(--primary);
  width: 100%;
  max-width: 37.5rem;
}

.home-intro_section-networks {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.home-intro_section-networks li svg {
  width: 2rem;
  height: 2rem;

  @media (min-width: 768px) {
    width: 3rem;
    height: 3rem;
  }
}

.home-intro_section-networks li svg path {
  fill: var(--primary);
  transition: all 0.3s ease-in-out;
}

.home-intro_section-networks li:hover svg path {
  fill: var(--secondary);
}

.home-intro_section-arrow_down {
  width: 4rem;
  height: 4rem;
  position: absolute;
  bottom: 3rem;
}

.home-intro_section-arrow_down path {
  fill: var(--primary);
}

.home-about_section {
  height: 10rem;
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, var(--home) 0%, var(--background) 100%);
}

.home-about_section-wrapper {
  width: 100%;
  max-width: 90rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;

  @media (min-width: 768px) {
    padding: 1.5rem 10rem;
  }
}
